@charset "utf-8";
/* CSS Document */

/*
#sidebar1{
	border: 1px solid #FFF;
	height: auto;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#total_jobs_applied{
	border: 1px solid #C0C0C0;
	width: 210px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: #CCE5FF;
	border-radius: 10px; 
}
#total_jobs_applied h3{
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	border-bottom: 1px solid #C0C0C0;
	margin-top: 0px;
	background-color: #6495ED;
	padding: 5px;	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#total_jobs_applied h5{
	font-size: 12px;
	border-bottom: 2px solid #FFF;
	margin-top: -15px;
	padding: 15px;
}

#sidebar_ad{
	border: 1px solid #C0C0C0;
	width: 210px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
}
#sidebar_ad h1{
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	border-bottom: 1px solid #C0C0C0;
	margin-top: 0px;
	background-color: #6495ED;
	padding: 5px;
} 
#ads_area{
	border: 1px solid #C0C0C0;
	width: 710px;
	height: 90px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
#ads_area h1{
	font-size: 18px;
	text-align: center;
	color: #0080FF;
	border-bottom: 1px solid #C0C0C0;
	margin-top: 0px;
	background-color: #F0F0F0;
}*/
.edit_fields{
	width: 300px;
	border-radius: 4px;
	border: 1px solid #C0C0C0;
	padding: 5px;
}
.profile_ddm{
	padding: 5px;
	border-radius: 4px;
	border: 1px solid #C0C0C0;
}
#search_jobs{
	border: 1px solid #CCE5FF;
	height: auto;
	background-color: #FF8C00;
	margin-bottom: 10px;
	padding: 20px;
	border-radius: 5px;
	font-family: Helvetica, sans-serif;
}
#search_dash_box{
	border: 1px solid #FFF;
	height: 150px;
	background-color: #FFF;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 3px;
}
#search_dash_box h2{
	font-size: 20px;
	color: #336600;
	border-bottom: 3px solid red;
	margin-top: 5px;
	margin-left: 10px;
	padding-bottom: 3px;
	font-weight: bold;
}
/*
#account_left_side{
	border: 1px solid #FFF;
		margin-top: 10px;
}
#account_center{
	border: 1px solid #FFF;
		margin-top: 10px;
}
#account_right_side{
	border: 1px solid #FFF;
		margin-top: 10px;
} */
.success{
	font-weight: bold;
}